[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Rebost
Comment=Software center
Exec=/usr/bin/rebost-gui %U
Icon=rebost
Type=Application
GenericName=rebost
Categories=System;Utilities;Lliurex
MimeType=application/vnd.flatpak.ref;x-scheme-handler/appstream;x-scheme-handler/ocs;x-scheme-handler/ocss;
