[Unit]
Description=Brings up rebost DBus
After=multiuser.target

[Service]
Type=simple
ExecStart=/usr/share/rebost/rebost-dbus.py
Restart=always
RestartSec=2
RestartPreventExitStatus=0
StartLimitInterval=60
StartLimitBurst=5

[Install]
WantedBy=default.target
